{
  "useTabs": true,
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 90,
        "useTabs": false,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.{json,babelrc,eslintrc,remarkrc,prettierrc}",
      "options": {
        "useTabs": false
      }
    }
  ]
}